# General
.env
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.DS_Store

# Backend
backend/vector_store/
*.db
data/raw_docs/*.pdf
Document/*.pdf

# Frontend
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/build/
