# General
.env
.env.local
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.DS_Store

# Backend
backend/vector_store/
*.db
/package-lock.json
data/raw_docs/*.pdf
document/*.pdf

# Frontend
frontend/.next/
frontend/node_modules/
frontend/out/
frontend/build/
