version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: docker/dockerfile.backend
    env_file:
      - ../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - redis

  frontend:
    build:
      context: ..
      dockerfile: docker/dockerfile.frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend

  redis:
    image: redis:7
    ports:
      - "6379:6379"
